<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular</title>

    <style>
        form.ng-submitted input.ng-invalid,  input.ng-invalid.ng-touched{
            border: 2px solid red;
            outline: none;
        }

        .validation {
            color: red;
        }
    </style>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <form name="form" novalidate>
            Name:
            <input ng-model="userName" required name="userName" />
            <span ng-if="isInvalid('userName')" class="validation">Please specify a message</span>

            <br /><br />
            E-Mail:
            <input ng-model="email" />

            <br /><br />
            <div>
                <button ng-click="save()">Save</button>
            </div>
        </form>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
