<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <button ng-click="toggle()">Toggle</button>
        <button ng-click="logout()">Logout</button>

        <div ng-if="currentView == 'first'">
            <div ng-controller="FirstCtrl">
                <h1>First</h1>
            </div>
        </div>

        <div ng-if="currentView == 'second'">
            <div ng-controller="SecondCtrl">
                <h1>Second</h1>
            </div>
        </div>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
    <script src="FirstCtrl.js"></script>
    <script src="SecondCtrl.js"></script>
</body>
</html>
