<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <button ng-click="load()">Load Template</button>
        <button ng-click="unload()">Unload Template</button>
        <button ng-click="log()">Log</button>
        <button ng-click="legacyClean()">Legacy Code</button>
    </div>

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
    <script src="SecondCtrl.js"></script>
</body>
</html>
